@import url(http://fonts.googleapis.com/css?family=Limelight|Crushed);

%header_family {
  font-family: 'Limelight', Arial, serif; 
  font-weight: 400; 
}

%text_color {
  color: white;
}

h1 { 
  @extend %header_family;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  @extend %text_color
}
aside, small {
  font-family: 'Crushed', Arial, serif; 
  font-weight: 400;
  @extend %text_color
}

a { 
  @extend %header_family;
  text-decoration: none;
  @extend %text_color
}
a:hover {
  text-decoration: underline;
}
a:visited{
  @extend %text_color
}