/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'typography', 
        'header';



html {
  background-color: white;
}

header {
  width: 1200px;
  height: 100px;
  margin-left: -20px;
  padding-left: 20px;
  background-color: #C40404;
}

body {
  width: 1200px;
  margin: auto auto;
  padding-left: 20px;
  background-color: #CC8B00;
}

footer {
  width: 1200px;
  margin-left: -20px;
  padding-left: 20px;
  background-color: #6A0000;
}

aside {
  font-size: 20px;
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -250px;
}

img {
  position: relative;
  z-index: 1;
  width: 250px;
  height: 250px;
}